/***************************************************************
 Colin Schnoes, Final Project
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    None

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
******************************************************************************/
body{
    background-color: #062F4F;
}

h1{
    border: 2px solid black;
    background-color: black;
    font-family: "Book Antiqua", sans-serif;
    color: #ec6214;
    text-align: center;
    font-size: xx-large;
    margin: 0;
}

h2{
    background-color: #ec6214;
    color: #062F4F;
    font-size: x-large;
    padding: 15px 15px 15px 15px;
    margin: 0;
}

img {
    width: 25%;
    height: 20%;
}

ul {list-style-type: none;
    padding-left:0;
    padding-right:0;
    background-color:black;
    top:0;
    width: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 2.5em;
    position: relative;
    color: black;
}

/*li :hover{*/
    /*color: orangered;*/
    /*background-color: whitesmoke;*/

/*}*/

.active{
    background-color: transparent;
}

div{
    background-color: #062F4F;
    overflow: hidden;
}

th{
    color: white;
    font-size: large;
}

td {
      background-color: #062F4F;
      font-size: small;
      color: white;
  }

table{
    border: 3px solid white;
}

th, td{
    border: 1px solid white;
}

#subclass{
    color: black;
    font-size: medium;
}

form{
    color: #ec6214;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}