<% // title is a paramater used by base to set the page title %>
<% title= 'Card Editor' %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="Index.css"/>
<% include partials/base %>

<h1 style="text-align:left;"><span><img src="mtg.png" alt="MTG Icon" ></span>Card Editor</h1>
<h2>Current User: <%= user.firstName %> <%= user.lastName %>.   Not you? <a href="/logout">Logout</a>
<p style="float:right; color:black">| <a href="/deck-list">Deck List</a> | <a href="/card-list">Card List</a> |</p>
</h2>


<br>
<form method="post" style="float:left">
  <h3 style="color:#ec6214">Add Card</h3>
  <span>Name:</span>
  <input type="text" name="name" required=true/></br>
  <br>
  <span>Cost:</span>
  <input type="text" name="cost" required=false/></br>
  <br>
  <span>Converted Cost:</span>
  <input type="int" name="converted_cost" required=false/></br>
  <br>
  <span>type:</span>
  <input type="text" name="type" required=true/></br>
  <br>
  <span>Rarity:</span>
  <input type="text" name="rarity" required=true/></br>
  <br>
  <span>Set:</span>
  <input type="text" name="set" required=false/></br>
  <br>
  <span>Effect:</span>
  <input type="text" name="effect" required=false/></br>
  <br>
  <span>Key Words:</span>
  <input type="text" name="type" required=false/></br>
  <br>
  <span>Power:</span>
  <input type="int" name="power" required=false/></br>
  <br>
  <span>Toughness:</span>
  <input type="int" name="toughness" required=false/></br>
  <br>
  <span>Ability:</span>
  <input type="text" name="ability" required=false/></br>
  <br>
  <span>Flavor Text:</span>
  <input type="text" name="flavor_text" required=false/></br>
  <br>
  <input type="submit"/>
  <br>
</form>
<br>
<form>
  <h3 style="color:#ec6214">Delete Card</h3>
  <span>Name:</span>
  <input type="text" name="name" required=true/></br>
  <br>
  <input type="submit"/>
</form>


<% include partials/foot %>
