<!-- tracker page -->

<!DOCTYPE html>
<html lang="en" ng-app="MTGDatabase">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="stylesheet" href="Index.css"/>
     <title>Card List</title>
   <style>
     [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none !important;
     }
   </style>
 </head>

<body ng-cloak ng-controller="InventoryController as inventory">

<h1 style="text-align:left;"><span><img src="mtg.png" alt="MTG Icon" ></span>Card List</h1>
<h2>Current User: <%= user.firstName %> <%= user.lastName %>.   Not you? <a href="/logout">Logout</a>
<p style="float:right; color:black">| <a href="/deck-list">Deck List</a> | <a href="/card-editor">Card Editor</a> |</p>
</h2>
     <section style="display: inline-block;" ng-controller="PanelController as panel">
         <ul class="nav nav-pills">
             <li ng-class="{ active:panel.isSelected(1)}">
                 <a href ng-click="panel.selectTab(1)">All</a>
             </li>
             <li ng-class="{ active:panel.isSelected(2)}">
                 <a href ng-click="panel.selectTab(2)">Creatures</a>
             </li>
             <li ng-class="{ active:panel.isSelected(3)}">
                 <a href ng-click="panel.selectTab(3)">Sorceries</a>
             </li>
             <li ng-class="{ active:panel.isSelected(4)}">
                 <a href ng-click="panel.selectTab(4)">Enchantments</a>
             </li>
             <li ng-class="{ active:panel.isSelected(5)}">
                 <a href ng-click="panel.selectTab(5)">Instants</a>
             </li>
             <li ng-class="{ active:panel.isSelected(6)}">
                 <a href ng-click="panel.selectTab(6)">Artifacts</a>
             </li>
             <li ng-class="{ active:panel.isSelected(7)}">
                 <a href ng-click="panel.selectTab(7)">Lands</a>
             </li>
         </ul>
         <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(1)">
             <table>
                 <tr>
                     <th>Card</th>
                     <th>Cost</th>
                     <th>Converted Cost</th>
                     <th>Type</th>
                     <th>Rarity</th>
                     <th>Set</th>
                     <th>Effect</th>
                     <th>Key Words</th>
                     <th>Power</th>
                     <th>Toughness</th>
                     <th>Ability</th>
                     <th>Flavor Text</th>
                 </tr>
                 <tr ng-repeat="card in inventory.cards">
                     <td align="center">{{card.name}}</td>
                     <td align="center">{{card.cost}}</td>
                     <td align="center">{{card.converted_cost}}</td>
                     <td align="center">{{card.type}}</td>
                     <td align="center">{{card.rarity}}</td>
                     <td align="center">{{card.set}}</td>
                     <td>{{card.effect}}</td>
                     <td align="center">{{card.keywords.join(', ')}}</td>
                     <td align="center">{{card.power}}</td>
                     <td align="center">{{card.toughness}}</td>
                     <td>{{card.ability}}</td>
                     <td>{{card.flavor_text}}</td>
                 </tr>
             </table>
         </div>
         <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(2)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Cost</th>
                              <th>Converted Cost</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Key Words</th>
                              <th>Power</th>
                              <th>Toughness</th>
                              <th>Ability</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Creature' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.cost}}</td>
                              <td align="center">{{card.converted_cost}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td align="center">{{card.keywords.join(', ')}}</td>
                              <td align="center">{{card.power}}</td>
                              <td align="center">{{card.toughness}}</td>
                              <td>{{card.ability}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
                  <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(3)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Cost</th>
                              <th>Converted Cost</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Ability</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Sorcery' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.cost}}</td>
                              <td align="center">{{card.converted_cost}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td>{{card.ability}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
                  <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(4)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Cost</th>
                              <th>Converted Cost</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Enchantment' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.cost}}</td>
                              <td align="center">{{card.converted_cost}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
                  <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(5)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Cost</th>
                              <th>Converted Cost</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Instant' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.cost}}</td>
                              <td align="center">{{card.converted_cost}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
                  <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(6)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Cost</th>
                              <th>Converted Cost</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Key Words</th>
                              <th>Ability</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Artifact' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.cost}}</td>
                              <td align="center">{{card.converted_cost}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td align="center">{{card.keywords.join(', ')}}</td>
                              <td>{{card.ability}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
                  <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(7)">
                      <table>
                          <tr>
                              <th>Card</th>
                              <th>Type</th>
                              <th>Rarity</th>
                              <th>Set</th>
                              <th>Effect</th>
                              <th>Ability</th>
                              <th>Flavor Text</th>
                          </tr>
                          <tr ng-repeat="card in inventory.cards | filter:{ type: 'Land' }">
                              <td align="center">{{card.name}}</td>
                              <td align="center">{{card.type}}</td>
                              <td align="center">{{card.rarity}}</td>
                              <td align="center">{{card.set}}</td>
                              <td>{{card.effect}}</td>
                              <td>{{card.ability}}</td>
                              <td>{{card.flavor_text}}</td>
                          </tr>
                      </table>
                  </div>
     </section>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script src="app.js"></script>
</body>
