<!-- tracker page -->

<!DOCTYPE html>
<html lang="en" ng-app="MTGDatabase">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="stylesheet" href="Index.css"/>
     <title>Your Decks</title>
   <style>
     [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none !important;
     }
   </style>
 </head>

<body ng-cloak ng-controller="InventoryController as inventory">

<h1 style="text-align:left;"><span><img src="mtg.png" alt="MTG Icon"></span>Your Decks</h1>
<h2>Current User: <%= user.firstName %> <%= user.lastName %>.   Not you? <a href="/logout">Logout</a>
<p style="float:right; color:black">| <a href="/card-list">Card List</a> | <a href="/card-editor">Card Editor</a> |</p>
</h2>
<ul class="list-group">
    <li class="list-group=item"" ng-repeat="deck in inventory.decks | filter:{owner:'<%= user.firstName %>'}"/>
        <h3 ng-bind="deck.name" style="color:#ec6214"></h3>
        <h4 ng-bind="deck.colors.join(', ')" style="color:#ec6214">Colors: </h3>
        <section style="display: inline-block;" ng-controller="PanelController as panel">
         <ul class="nav nav-pills"  style="max-height: 5">
             <li ng-class="{ active:panel.isSelected(1)}">
                 <a href ng-click="panel.selectTab(1)">Description</a>
             </li>
             <li ng-class="{ active:panel.isSelected(2)}">
                 <a href ng-click="panel.selectTab(2)">Cards</a>
             </li>
             <li ng-class="{ active:panel.isSelected(3)}">
                 <a href ng-click="panel.selectTab(3)">Edit Deck</a>
             </li>
         </ul>
         <div class="panel" ng-show="panel.isSelected(1)">
            <p sytle="background-color:#062F4F; color:#ec6214; font-size: medium">{{deck.description}}</p>
         </div>
         <div class="panel" ng-show="panel.isSelected(2)">
            <ul>
                <li sytle="background-color:#062F4F; color:#ec6214; font-size: medium" ng-repeat="card in deck.cards">Card: {{card.name}} Amount: {{card.count}}</li>
            </ul>
         </div>
         <div class="panel" ng-show="panel.isSelected(3)">
         </div>
        </section>
     </li>
</ul>


 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script src="app.js"></script>
</body>
