<!-- login page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Login' %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="Index.css"/>
<% include partials/base %>

<h1 style="text-algin:left"><span><img src="mtg.png" alt="MTG Icon" ></span>Card and Deck Tracker</h1>

<h2 style="margin-bottom: 15px; text-align: center">Log into your account</h2>
<% if (locals.error) {%>
     <p>ERROR: <%= error %></p>
<% } %>

<form method="post">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">

  <span><b>Email:</b></span>
  <input type="text" name="email" required=true></br>
  <br>
  <span><b>Password:</b></span>
  <input type="password" name="password" required=true></br>
  <br>
  <input type="submit">
  <br>
  <p>Don't have an account? Click to <a href="/register">Register</a></p>
</form>

<% include partials/foot %>
