<!-- register page -->

<% // title is a paramater used by base to set the page title %>
<% title= 'Register' %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="Index.css"/>
<% include partials/base %>

<h1 style="text-align:center;"><span><img src="mtg.png" alt="MTG Icon"></span>Create A New Account</h1>
<h2 style="margin-bottom: 15px; text-align: center">Create an Account</h2>
<% if (locals.error) {%>
     <p>ERROR: <%= error %></p>
<% } %>

<% console.log('Token: ' + csrfToken) %>

<form method="post">
  <input type="hidden" name="_csrf", value="<%=csrfToken%>"/>

  <span>First Name:</span>
  <input type="text" name="firstName" required=true/></br>
  <br>
  <span>Last Name:</span>
  <input type="text" name="lastName" required=true/></br>
  <br>
  <span>Email:</span>
  <input type="email" name="email" required=true/></br>
  <br>
  <span>Password:</span>
  <input type="password" name="password" required=true/></br>
  <br>
  <input type="submit"/>
  <br>
    <p>Already have an account? Click to <a href="/login">Login</a></p>
</form>

<% include partials/foot %>
