<!-- tracker page -->

<!DOCTYPE html>
<html lang="en" ng-app="MTGDatabase">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="stylesheet" href="Index.css"/>
     <title>MTG Card and Deck Tracker</title>
   <style>
     [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none !important;
     }
   </style>
 </head>

<body ng-cloak ng-controller="InventoryController as inventory">

<h1 style="text-align:left;"><span><img src="mtg.png" alt="MTG Icon" style="width: 15%;height: 5%"></span>Card and Deck Tracker</h1>
<h2><%= user.firstName %></h2>
     <section style="display: inline-block;" ng-controller="PanelController as panel">
         <ul class="nav nav-pills">
             <li ng-class="{ active:panel.isSelected(1)}">
                 <a href ng-click="panel.selectTab(1)">Decks</a>
             </li>
             <li ng-class="{ active:panel.isSelected(2)}">
                 <a href ng-click="panel.selectTab(2)">Cards</a>
             </li>
         </ul>
         <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(1)">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Color(s)</th>
                    <th>Description</th>
                    <th>Owner</th>
                </tr>
                <tr ng-repeat="deck in inventory.decks">
                    <td>{{deck.name}}</td>
                    <td>{{deck.colors.join(', ')}}</tb>
                    <td>{{deck.description}}</tb>
                    <td>{{deck.owner}}</td>
                </tr>
            </table>
         </div>
         <div style="background-color: #062F4F; overflow: hidden" class="panel" ng-show="panel.isSelected(2)">
             <table>
                 <tr>
                     <th>Card</th>
                     <th>Cost</th>
                     <th>Converted Cost</th>
                     <th>Type</th>
                     <th>Rarity</th>
                     <th>Set</th>
                     <th>Effect</th>
                     <th>Key Words</th>
                     <th>Power</th>
                     <th>Toughness</th>
                     <th>Ability</th>
                     <th>Flavor Text</th>
                 </tr>
                 <tr ng-repeat="card in inventory.cards">
                     <td align="center">{{card.name}}</td>
                     <td align="center">{{card.cost}}</td>
                     <td align="center">{{card.converted_cost}}</td>
                     <td align="center">{{card.type}}</td>
                     <td align="center">{{card.rarity}}</td>
                     <td align="center">{{card.set}}</td>
                     <td>{{card.effect}}</td>
                     <td align="center">{{card.keywords.join(', ')}}</td>
                     <td align="center">{{card.power}}</td>
                     <td align="center">{{card.toughness}}</td>
                     <td>{{card.ability}}</td>
                     <td>{{card.flavor_text}}</td>
                 </tr>
             </table>
         </div>
     </section>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script src="app.js"></script>
</body>
